.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.466);
  font-family: "Carter One", cursive;
}

.status-bar__column:nth-child(3) i {
  margin-left: 5px;
}

.status-bar__column:nth-child(3) span {
  position: relative;
  left: 5px;
}
