.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  margin: 10px;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-img {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  padding: 10px;
}

.user-name {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
}

.user-music {
  font-size: 13px;
  border: 2px solid rgb(166, 231, 101);
  border-radius: 30px;
  padding: 5px;
  color: var(--white);
  margin-right: 4px;
}
.user-music i {
  margin-left: 5px;
  color: rgb(166, 231, 101);
}

.profile-nameandmessage {
  display: flex;
  flex-direction: column;
}

.user-message {
  font-size: 13px;
  color: var(--white);
}

.user-text {
  color: rgba(255, 255, 255, 0.7);
}
